USE [master]
GO
/****** Object:  Database [MyWebAppDB]    Script Date: 5/23/2025 4:14:55 PM ******/
CREATE DATABASE [MyWebAppDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyWebAppDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\MyWebAppDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyWebAppDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\MyWebAppDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyWebAppDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyWebAppDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/23/2025 4:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemMasters]    Script Date: 5/23/2025 4:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemMasters](
	[Item_Id] [int] IDENTITY(1,1) NOT NULL,
	[Item_Name] [nvarchar](max) NULL,
	[Item_Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ItemMasters] PRIMARY KEY CLUSTERED 
(
	[Item_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PO_Actions]    Script Date: 5/23/2025 4:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PO_Actions](
	[Action_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[PO_ID] [int] NOT NULL,
	[Action_Type] [nvarchar](20) NULL,
	[Action_Timestamp] [datetime] NOT NULL,
	[Before_Edit] [nvarchar](max) NULL,
	[After_Edit] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PO_Actions] PRIMARY KEY CLUSTERED 
(
	[Action_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderItems]    Script Date: 5/23/2025 4:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderItems](
	[Item_ID] [int] IDENTITY(1,1) NOT NULL,
	[PO_ID] [int] NOT NULL,
	[ItemMasterId] [int] NULL,
	[Product_Code] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[Unit_Price] [decimal](18, 2) NOT NULL,
	[Tax_Rate] [decimal](18, 2) NOT NULL,
	[Total_Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.PurchaseOrderItems] PRIMARY KEY CLUSTERED 
(
	[Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrders]    Script Date: 5/23/2025 4:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrders](
	[PO_ID] [int] IDENTITY(1,1) NOT NULL,
	[PO_Number] [nvarchar](50) NULL,
	[Supplier_ID] [int] NOT NULL,
	[PO_Date] [datetime] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[Delivery_Date] [datetime] NOT NULL,
	[Created_By] [nvarchar](50) NULL,
	[Total_Amount] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](10) NULL,
	[Payment_Terms] [nvarchar](100) NULL,
	[Remarks] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PurchaseOrders] PRIMARY KEY CLUSTERED 
(
	[PO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 5/23/2025 4:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Supplier_ID] [int] IDENTITY(1,1) NOT NULL,
	[Company_Name] [nvarchar](100) NULL,
	[Address] [nvarchar](max) NULL,
	[Contact_Person] [nvarchar](max) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[VAT_Number] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Suppliers] PRIMARY KEY CLUSTERED 
(
	[Supplier_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/23/2025 4:14:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Password_Hash] [nvarchar](max) NOT NULL,
	[Full_Name] [nvarchar](200) NULL,
	[Role] [nvarchar](50) NULL,
	[Created_At] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_PO_ID]    Script Date: 5/23/2025 4:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_PO_ID] ON [dbo].[PO_Actions]
(
	[PO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_ID]    Script Date: 5/23/2025 4:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_ID] ON [dbo].[PO_Actions]
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemMasterId]    Script Date: 5/23/2025 4:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_ItemMasterId] ON [dbo].[PurchaseOrderItems]
(
	[ItemMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PO_ID]    Script Date: 5/23/2025 4:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_PO_ID] ON [dbo].[PurchaseOrderItems]
(
	[PO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Supplier_ID]    Script Date: 5/23/2025 4:14:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Supplier_ID] ON [dbo].[PurchaseOrders]
(
	[Supplier_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Email]    Script Date: 5/23/2025 4:14:55 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PO_Actions] ADD  CONSTRAINT [DF__PO_Action__User___74AE54BC]  DEFAULT ((2)) FOR [User_ID]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[PO_Actions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PO_Actions_dbo.PurchaseOrders_PO_ID] FOREIGN KEY([PO_ID])
REFERENCES [dbo].[PurchaseOrders] ([PO_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PO_Actions] CHECK CONSTRAINT [FK_dbo.PO_Actions_dbo.PurchaseOrders_PO_ID]
GO
ALTER TABLE [dbo].[PO_Actions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PO_Actions_dbo.Users_User_ID] FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PO_Actions] CHECK CONSTRAINT [FK_dbo.PO_Actions_dbo.Users_User_ID]
GO
ALTER TABLE [dbo].[PurchaseOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOrderItems_dbo.ItemMasters_ItemMasterId] FOREIGN KEY([ItemMasterId])
REFERENCES [dbo].[ItemMasters] ([Item_Id])
GO
ALTER TABLE [dbo].[PurchaseOrderItems] CHECK CONSTRAINT [FK_dbo.PurchaseOrderItems_dbo.ItemMasters_ItemMasterId]
GO
ALTER TABLE [dbo].[PurchaseOrderItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOrderItems_dbo.PurchaseOrders_PO_ID] FOREIGN KEY([PO_ID])
REFERENCES [dbo].[PurchaseOrders] ([PO_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrderItems] CHECK CONSTRAINT [FK_dbo.PurchaseOrderItems_dbo.PurchaseOrders_PO_ID]
GO
ALTER TABLE [dbo].[PurchaseOrders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseOrders_dbo.Suppliers_Supplier_ID] FOREIGN KEY([Supplier_ID])
REFERENCES [dbo].[Suppliers] ([Supplier_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseOrders] CHECK CONSTRAINT [FK_dbo.PurchaseOrders_dbo.Suppliers_Supplier_ID]
GO
USE [master]
GO
